<html>
<body>
  <div style="">
    <table cellspacing="0" cellpadding="8" border="0" summary=""
    style=
    "width:100%;font-family:Arial,Sans-serif;border:1px Solid #ccc;border-width:1px 2px 2px 1px;background-color:#fff;">
    <tr>
        <td>
          <div style="padding:2px">
            <div style="float:right;font-weight:bold;font-size:13px">
              <a href="http://userportal.example.com/?msg_id=MESSAGE_ID"
                style="color:#20c;white-space:nowrap">
                more details &raquo;</a>
              </br>
            </div>

            <h3 style="padding:0 0 6px 0;margin:0;font-family:Arial,Sans-serif;font-size:16px;font-weight:bold;color:#222">
              New voicemail message
            </h3>

            <div style="padding-bottom:15px;font-size:13px;color:#222;white-space:pre-wrap!important;white-space:-moz-pre-wrap!important;white-space:-pre-wrap!important;white-space:-o-pre-wrap!important;white-space:pre;word-wrap:break-word">
              There is a new voicemail in mailbox MAILBOX.
              Original message is attached as WAV file.
            </div>

            <table cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top">
                  <div>
                    <i style="font-style:normal">Date/Time</i>
                  </div>
                </td>
                <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">
                  <%= @astvars[:VM_DATE].to_s %>
                </td>
              </tr>

              <tr>
                <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top">
                  <div>
                    <i style="font-style:normal">From</i>
                  </div>
                </td>
                <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">
                  <%= @astvars[:VM_CALLERID] %>
                </td>
              </tr>

              <tr>
                <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top">
                  <div>
                    <i style="font-style:normal">Duration</i>
                  </div>
                </td>
                <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">
                  <%= @astvars[:VM_DUR] %>
                </td>
              </tr>

              <tr>
                <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top">
                  <div>
                    <i style="font-style:normal">Total messages</i>
                  </div>
                </td>
                <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">
                  <%= @astvars[:VM_MSGNUM] %>
                </td>
              </tr>

            </table>
          </div>
        </td>
      </tr>

      <tr>
        <td style="background-color:#f6f6f6;color:#888;border-top:1px Solid #ccc;font-family:Arial,Sans-serif;font-size:11px">
          <p>
            Asterisk voicemail system.
          </p>

          <p>
            This is a private message. If you have received it 
            by mistake or if you have any questions please contact techinacal support: 555-SUPPORT
          </p>

          <p>
            To manage your voicemail messages please visit 
            <a href="http://userportal.example.com/">http://userportal.example.com</a>
          </p>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
